---
import Page from '../../layouts/Page.astro';
---

<Page title="Strisselspalt Pilsner" description="Our hoppy pilsner brewed for Bluebonnet Brew-off 2019.">
  <h1>Strisselspalt Pilsner</h1>

  <p>
    Our new for Bluebonnet Brew-off 2019 pilsner was inspired by a beverage that we sampled
    while vacationing in Virginia. A former Dallas area brewer had taken up shop at
    <a href="http://www.whbrew.com/">Wort Hog Brewing</a> so we ducked in to see what Jeremy
    had gotten himself into.
  </p>

  <p>
    We sampled all of the current wares and I was smitten by the
    <a href="http://www.whbrew.com/beer-menu.html">BECKHAM STREET — HOPPY PILSNER</a>.
    The "hoppy" bit was supplied using a French hop —
    <a href="https://beerandbrewing.com/dictionary/SNdWvdNSAt/">Strisselspalt</a>. The beer
    had a wonderful aroma, a crisp hop bite, plenty of fizzy bubbles, and a quenching dry
    finish.
  </p>

  <p>
    We entered a pilsner into Bluebonnet Brew-off last year, but it was a bit rushed and it
    didn't do as well as we had hoped. This libation was sure to become our secret weapon in
    2019.
  </p>

  <figure>
    <img
      src="/images/Screen-Shot-2019-01-01-at-7.30.36-PM.png"
      alt="Strisselspalt Pilsner recipe sheet"
    />
  </figure>
</Page>
