---
import Page from '../../layouts/Page.astro';
---

<Page title="Thistle Dew" description="An 80 Shilling Scottish Ale born out of Cobra Brewing's Hopped Challenge.">
  <h1>Thistle Dew</h1>

  <p>
    This beer was born out of a "Hopped Challenge" sponsored by Cobra Brewing in Lewisville,
    Texas. We were handed a brown sack full of honey malt, about a pound and a half, along
    with a jar of dark malt extract and told that we had to use the ingredients somewhere in
    our brewing process. Most of the competitors opted to use the malt extract for their
    yeast starter and use very little of the honey malt.
  </p>

  <p>
    Silvia embraced the ingredients in the spirit of Chopped or Iron Chef. She went looking
    for recipes that used significant amounts of honey malt and settled on an 80 Shilling
    Scottish Ale. Once we settled on a Scottish ale, Silvia did some more research for a
    name. After learning that the national flower of Scotland is a
    <a href="https://www.visitscotland.com/about/uniquely-scottish/thistle/">thistle</a>
    we knew that we must work that into the beer name and Thistle Dew was tagged.
  </p>

  <p>
    Since we were not interested in continuing to use dark liquid malt extract going forward,
    I reworked the recipe for a 5.5-gallon batch replace the extract with the constituent
    malts and settled on this all grain recipe.
  </p>

  <figure>
    <img
      src="/images/Screen-Shot-2018-12-28-at-9.19.46-PM.png"
      alt="Thistle Dew recipe sheet"
    />
  </figure>

  <figure>
    <img
      src="/images/bluebonnet_2017_stein_scottish_export-e1490906948393.jpg"
      alt="Stein for Thistle Dew"
    />
    <figcaption><em>Stein Winner for Scottish Ale — Our Scottish Export "Thistle Dew"</em></figcaption>
  </figure>

  <figure>
    <img
      src="/images/Bluebonnet-2018-2.jpg"
      alt="Bluebonnet 2018"
    />
    <figcaption><em>Bluebonnet 2018, with Brad Sheehan</em></figcaption>
  </figure>

  <p>
    This first batch from this recipe was entered in the
    <a href="http://bbbrewoff.com/bluebonnetbrewoff/">Bluebonnet Brew-off</a> in 2017 and
    2018, earning us a stein each year. It can be found on
    <a href="https://untappd.com/b/ag-alewerks-thistle-dew/1609874">Untappd</a>.
  </p>
</Page>
