---
import Page from '../layouts/Page.astro';
---

<Page title="Reading List" description="Beer (and beer-adjacent) books in our library.">
  <h1>Reading List</h1>

  <p>Here is a list of the beer books currently in our library:</p>

  <ul>
    <li>
      <a href="http://amzn.to/1PheU1i">Brewing Classic Styles: 80 Winning Recipes Anyone Can Brew</a>
      So far we have brewed a Brown Ale and a Robust Vanilla Porter from recipes in the
      book. Both have come out quite tasty.
    </li>
    <li>
      <a href="http://amzn.to/1Phgctf">How to Brew: Everything You Need To Know To Brew Beer Right The First Time</a>
      This book has several little Post-it flags so I can get to information that I'm too
      distracted to remember. Specifically the recipe for making a yeast starter.
    </li>
    <li><a href="http://amzn.to/1T4MAij">Radical Brewing: Recipes, Tales and World-Altering Meditations in a Glass</a></li>
    <li><a href="http://amzn.to/1PhfMTF">Designing Great Beers: The Ultimate Guide to Brewing Classic Beer Styles</a></li>
    <li><a href="http://amzn.to/1KqXjfW">Tasting Beer</a></li>
    <li><a href="http://amzn.to/1PhfsEm">Homebrew Beyond the Basics</a></li>
    <li><a href="http://amzn.to/1KqXsjv">Oxford Companion to Beer</a></li>
  </ul>

  <p>There are a few more, which I'll add later.</p>

  <p>These are not beer books, but I found them very informative or inspirational:</p>

  <ul>
    <li>
      <a href="http://amzn.to/1KFsnsl">The Accounting Game</a>: I liked the explanation
      about First In First Out versus Last In First Out and how they related to inventory
      on PAPER. I can see where that would be handy in the brewing world where the demand
      for hops is outpacing the farmers' ability to produce them. Contrasting the Accrual
      Method and Cash Method was also informative.
    </li>
    <li>
      <a href="http://amzn.to/1KFsnsl">The Power of Who</a>: This one was a game changer
      for me and many of my software friends. People intrinsically want to help other
      people and if you don't tell your friends and acquaintances (Who) the things that
      you want to do (What), then you are depriving them of an opportunity to assist you
      in reaching your goals and living your dreams. Just mentioning what you hope and
      dream of, without specifically asking for anything, can open doors for you by
      connecting you with either like minded folks or people who can actually further your
      progress. Amazing.
    </li>
  </ul>
</Page>
